# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# Database
*.db

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Node
node_modules/

# Logs
*.log

# Runtime repositories
backend/repositories/
